* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --spacing-l: 48px;
  --foreground: black;
  --accent: #ff487a;
  --accent-2: #7be4d5;
  --font-size: 20px;
  --font-size-xs: 14px;
}

body,
code {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: underline;
  color: var(--accent);
  font-weight: 800;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: var(--spacing-l) 0px;
}

.sidebar,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
}

.top-bar {
  height: 10px;
  background-color: #7be4d5;
}

.container {
  padding-top: var(--spacing);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.radius-50 {
  border-radius: 50%;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: var(--spacing);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar-text .sections ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar .sections li {
  list-style: none;
  margin-bottom: var(--spacing-s);
}

.sidebar .sections li a {
  text-decoration: none;
  color: var(--foreground);
  margin-right: var(--spacing-s);
  font-weight: 700;
}

.sections {
  margin: var(--spacing-xs) 0px 0px var(--spacing-xs);
}

.section {
  padding: 5px var(--spacing);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing) 0px;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}

footer .footer-note {
  color: var(--accent);
  font-size: var(--font-size);
}

footer .twitter-btn {
  padding: 8px;
  background-color: #1da1f2;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
.rainbow,
strong {
  background-image: linear-gradient(
    90deg,
    #f79533 0%,
    #f37055 15%,
    #ef4e7b 30%,
    #a166ab 44%,
    #5073b8 58%,
    #1098ad 72%,
    #07b39b 86%,
    #6dba82 100%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

p,
li {
  font-size: var(--font-size);
  margin: 0 0 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: justify;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.superman-box,
.champ-box,
.enough-box,
.noob-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #07b39b;
}

.superman-box {
  background-color: rgba(21, 126, 21, 1);
}

.superman {
  color: rgba(21, 126, 21, 1);
}

.champ-box {
  background-color: rgba(21, 126, 21, 0.7);
}

.champ {
  color: rgba(21, 126, 21, 0.7);
}

.enough-box {
  background-color: rgba(21, 126, 21, 0.4);
}

.enough {
  color: rgba(21, 126, 21, 0.4);
}
.noob-box {
  background-color: rgba(21, 126, 21, 0.1);
}

.noob {
  color: rgba(21, 126, 21, 0.1);
}

b {
  font-size: 1.2rem;
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

/* Blog */

.blogList ul li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--spacing-l) 0px;
}

@media (min-width: 768px) {
  .blogList ul li {
    flex-direction: row;
  }
}

/* Timeline */

.bar {
  width: 10px;
  background-color: #ef4e7b;
  min-height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.timeline_text {
  padding: 0px 10px 20px 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -5px;
  background-color: orange;
}

.no-top-margin {
  margin-top: 0px !important;
}
